<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Book Recs</title>
  </head>
  <body>
    <h1>Books</h1>
    <ul>
      <li><a href="/books">View All Books</a></li>
      <li><a href="/books/add">Add a New Book</a></li>
    </ul>
  </body>
</html>
